/* my first css */
/* 
Comments in css is different from html [e.g. <!-- COMMENT --> ], but similar to Java's multi-line comment. 
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}
h1 {
    border: 5px dotted pink;
    text-align: center;
}
blockquote {
    /* font stack */
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
cite {
    font-size: 1rem;
    font-weight: bold;
}
/* CLASS declaration syntax: begin with a period. */
.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}
.remove_underline {
    text-decoration: none;
    background: yellow;
}
.right_and_doublespace {
    text-align: right;
    line-height: 2rem;
}
h3 {
    text-align: center;
    color: #F25652;
}
em {
    color: green;
}
.color_blue {
    color: blue;
}
strong {
    background-color: yellow;
}
/* DESCENDANT SELECTOR declaration syntax: uses [space].
Ancestor-, Descendant-, Sibling- relationships. */
blockquote p {
    background-color: brown;
}
/* GROUPED SELECTOR declaration syntax: uses [,].
Can be mix of: element[/tag] selector, class selector, ID selector, and descendant selector. */
img, h2, .color_blue, blockquote p {
    border: 10px solid green;
}
/* PSEUDO-CLASS (+ descendant selector) syntax: uses [:STATE].
e.g. ":link", ":visited", ":focus", ":hover", ":active".
([L]ord, [V]ader, [F]ormer, [H]andle, [A]nakin).
Reminds me of IState. */
li a:hover {
    color: orange;
    text-decoration: underline;
    background-color: black;
}